@if (!isAuthRoute(router.url)) {
  <div class="flex h-screen bg-surface-50 font-sans">
    <!-- Sidebar -->
    <app-sidebar class="w-64 flex-shrink-0 border-r border-surface-200 bg-surface z-20"></app-sidebar>
    <!-- Main Content -->
    <div class="flex-1 flex flex-col overflow-hidden">
      <!-- Header -->
      <app-header class="h-16 border-b border-surface-200 bg-surface z-10"></app-header>
      <!-- Main View -->
      <main class="flex-1 overflow-x-hidden overflow-y-auto bg-surface-50 p-6">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
}

<!-- Render Auth Routes without Sidebar/Header -->
@if (isAuthRoute(router.url)) {
  <div>
    <router-outlet></router-outlet>
  </div>
}
